{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>{{name}}</h2> --}}

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
       <form action="/signup" method="post" id="signup">

                            <!-- name input -->
                            <div class="form-outline mb-2 text-danger">
                                <label class="form-label" for="user_name"></label>
                                <input
                                placeholder="Name"
                                    type="text"
                                    name="user_name"
                                    id="user_name"
                                    class="form-control form-control-lg"
                                
                                />

                            </div>

                            <!-- number input -->
                            <div class="form-outline mb-2 text-danger">
                                <label class="form-label" for="user_number"></label>
                                <input
                                placeholder="Number"
                                    type="number"
                                    name="user_number"
                                    id="user_numnber"
                                    maxlength="10"
                                    class="form-control form-control-lg"
                                    
                                />


                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-2 text-danger">
                                <label class="form-label" for="user_email"></label>
                                <input
                                placeholder="Email"
                                    type="email"
                                    name="user_email"
                                    id="user_email"
                                    class="form-control form-control-lg"
                                    required="true"
                                />

                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-2 text-danger">
                                <label class="form-label" for="user_password"></label>
                                <input
                                placeholder="Password"
                                    type="password"
                                    name="user_password"
                                    id="user_password"
                                    class="form-control form-control-lg"
                                    required="true"
                                />

                            </div>
                            <!-- status input -->

                            {{!-- <div class="form-outline mb-3" style="display: none;">
                                <label for="form1Example23" class="form-label">Status</label>
                                <select id="form1Example23" class="form-select" name="user_status">
                                    <option value="Active">Active</option>
                                    
                                </select>
                            </div> --}}

                        
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>

                        </form>
      </div>
    </div>
  </div>
</section>